.Main-header{
    background-color: #ff8e09;
    width: 100%;
    height: 70px;
    float: left;
}

.Logo{
    padding-left: 20px;
    height: 70px;
    pointer-events: none;
}

.Div-Menu{
    font: Microsoft Tai Le Bold;
    padding-left: 20px;
    float: left;
}


.Div-image{
    float: left;
}

.h2{
    color: #2d2929;
}

.a{
    text-decoration: none;
}

.Div-Login{
    float: right;
    padding-right: 10pt;
}