.Main-background{
    margin-left: 5%;
    position: absolute;
    height: 60%;
}
.error-image {
    margin: 5% 5% 5% 20%;
}
.client-side-error {
    color: blue;
    font-size: large;
    font-style: italic;
}