#body {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}

#header {
    display: grid;
}

#frame-body {
    display: grid;
    /* border: 4px solid #2d2929;
    margin: 0px;
    margin: 0.2% 0%; */
    /* border-radius: 0.5%; */
}

#load-body {
    display: grid;
    background-color: #c2c2c2;
    margin: 0.2% 0.3%;
    border-radius: 0.8%; 
}

#footer {
    display: grid;
}

#title {
    background-color: #2d2929;
    text-align: center;

}

.title-text {
    color: #ff8e09;
}

.body-text {
    color: #2d2929;
    font-weight: 800;
    font-size: large;
    vertical-align: middle;
}

#body-button {
    background-color: #ff8e09;
}